<h2 class="title">Kutak listája</h2>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Város </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>
</table>





<!--
<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
    </div>
  </div>
</form>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
    <td>Város</td>
    <td>Utca</td>
    <td>95</td>
    <td>Diesel</td>
    <td>Módosítás</td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let station of stations$ | async | slice: (page-1) * pageSize : page * pageSize" >
    <td>{{station.city}}</td>
    <td>{{station.street}}</td>
    <td>nincs</td>
    <td>van</td>
    <td><a [routerLink]="['/stations', station.id]">Módosít</a></td>
  </tr>
  </tbody>
</table>

<br/>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize">
</ngb-pagination>



<p>A benzinkutak listájáért köszönet a <a href="https://holtankoljak.hu">holtankoljak.hu</a>-nak</p>-->
