<h2>My Stations</h2>
<ul class="stations">
  <li *ngFor="let station of stations">
    <button type="button">
      <span class="badge">{{station.id}}</span>
      <span class="address">{{station.address}}</span>
      <span class="filler"></span>
      <span class="state">{{station.state}}</span>
    </button>
  </li>
</ul>

<!-- h2>{{station.address | uppercase }} Details</h2>
<div><span>id: </span>{{station.id}}</div>
<div><span>address: </span>{{station.address}}</div>
<div><span>state: </span>{{station.state}}</div>

<div>
    <label for="name">Station address: </label>
    <input id="name" [(ngModel)]="station.address" placeholder="address">
</div -->