<p>modify-station works!</p>
<p>Budapest I, Alkotás u. 20-24.</p>
<!-- p>{{currentStation.address}}</p -->
<table>
    <tr>
        <td>Üzemanyag típusa</td>
        <td>Jelenlegi státusz</td>
        <td>Módosítás</td>
    </tr>
    <tr *ngFor="let fuel of fuelTypes">
        <td>{{fuel}}</td>
        <td>Van</td>
        <td>
            <button style="background: rgb(235, 95, 95)">Nincs</button>
            <button style="background: rgb(138, 247, 138)">Van</button>
        </td>
    </tr>
    
</table>